mnt/base_data
postgres/data
mnt/contours/*
mnt/dem
mnt/pbf/*
mnt/shades/*
tiles/
!mnt/pbf/test.pbf
!mnt/contours/contours_test.sql.gz
!mnt/shades/shades_test.tif
!mnt/shades/shades_merged.vrt
!mnt/shades/color_relief_test.tif
!mnt/shades/color_relief.vrt